.container {
    margin: 50px 0;
}

.card {
    margin: 2% 0 !important;
}

.infected {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,255,1) 100%) !important;
}

.recovered {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,255,0,1) 100%) !important;
}

.deaths {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%) !important;
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}

.cardHeader {
    border-bottom: 1px solid rgba(70, 70, 70, 0.4);
    padding: 10px !important;
}