body {
    background-color: rgb(0, 0, 0) !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 900px;
    height: 275px;
}

.navbar {
    width: 400px;
    height: 50px;
    background-color: black !important;
    margin-bottom: 50px;
    margin-top: 30px;
}

.navbarNav {
    height: 50px;
}

.navbarItem {
    text-align: center;
    width: 200px;
    height: 50px;
    font-weight: bold;
}

.navbarLink {
    color: white !important;
}

.navbarLink:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

@media (max-width: 950px) {
    .image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
}

@media (max-width: 450px) {
    .navbar {
        width: 300px;
    }

    .navbarItem {
        width: 150px;
    }
}